<table border="0" cellspacing="0" cellpadding="0">
    <tr><th>Ellipsoid</th><th>Ellipsoid semi-major axis a (m)</th><th>Ellipsoid semi-minor axis b (m)<th>Dataum</th><th>Usage</th></tr>
    <tr><td>Airy 1830</td><td>66 377 563.396</td><td>6 356 256.909</td><td>OSGB36</td><td>British National Grid</td></tr>
    <tr><td>Airy 1830 modified</td><td>6 377 340.189</td><td>6 356 034.447</td><td>Ireland 65</td><td>Irish National Grid</td></tr>
    <tr><td>International 1924 aka Hayford 1909</td><td>6 356 911.946</td><td>6356256.909</td><td>ED50</td><td>Channel Irelands<</td></tr>
    <tr><td>GRS80 aka WGS84 ellipsoid</td><td>6 378 137.000 </td><td>6 356 752.3141</td><td>WGS84</td><td>GPS style</td></tr>
</table>